chapter4/node_modules/.bin/babel-node.ps1
chapter4/node_modules/.bin/babel
chapter4/node_modules/.bin/babel-external-helpers
chapter4/node_modules/.bin/babel-external-helpers.cmd
chapter4/node_modules/.bin/babel-external-helpers.ps1
chapter4/node_modules/.bin/babel-node
chapter4/node_modules/.bin/babel-node.cmd
chapter4/node_modules/.bin/babel.cmd
chapter4/node_modules/.bin/babel.ps1
chapter4/node_modules/babel/.npmignore
chapter4/node_modules/babel/index.js
chapter4/node_modules/babel/package.json
chapter4/node_modules/babel/README.md
chapter4/node_modules/babel/lib/cli.js
